.profile{
    color: rgba($color: #223F2C, $alpha: 0.89);
    font-size: 24px;
    .btn{
        color: rgba($color: #223F2C, $alpha: 0.89);
        border-color: rgba($color: #223F2C, $alpha: 0.89);
        border-radius: 20px;
        background-color: #98FFBB;
    }
}