.pagination {
    font-size: 30px;
    .page-item {
        .page-link {
            color: rgba($color:#223F2C, $alpha: 0.89);
            background-color: transparent;
            border-color: transparent;
        }
        &.active {
            .page-link {
                color: #F0F299;
            }
        }
    }
}

.main {
    .filter_col {
        min-width: 250px;
        margin-top: 15px;
        .btn {
            color: rgba($color: #223F2C, $alpha: 0.89);
            border-radius: 20px;
            border-color: rgba($color: #223F2C, $alpha: 0.89);
            background-color: #98FFBB;
            margin-left: auto;
            white-space: nowrap;
            text-overflow: ellipsis;
            &.select {
                background-color: #F0F299;
            }
        }
    }
    .pet_col {
        min-width: 410px;
    }
    .empty {
        text-align: center;
        font-size: 24px;
        color: rgba($color: #223F2C, $alpha: 0.89);
    }
    .filter-1 {
        background-color: #B9D1B9;
        border: 1px solid rgba(34, 63, 44, 0.89);
        box-sizing: border-box;
        border-radius: 20px;
        padding: 10px;
        #inline-form-input-sort {
            max-width: 100%;
        }
    }
}